:root {
  --light-100: #ffffff;
  --neutral-100: #f4f4f4;
  --neutral-200: #cfcfcf;
  --blue-100: #c2e4fe;
  --blue-200: #27a1ff;
  --blue-300: #0271c7;
  --red-100: #e94e4e;
  --dark-100: #6b6b6b;
  --dark-200: #292929;
  --font_family: "Roboto", Arial, sans-serif;
}
